/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Passero+One');

* {
	font-family: 'Passero One', cursive;
	letter-spacing: .1em;
}

html, body {
	overflow: hidden;
}

.passero {
	font-family: 'Passero One', cursive;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}
